/* FONTS */

@font-face {
    font-family:Helvetica;
    src: url(./fonts/helvetica.ttf);
}

@font-face {
    font-family:HelveticaOblique;
    src: url(./fonts/helvetica-oblique.ttf);
}

@font-face {
    font-family: HeyComic;
    src: url(./fonts/HeyComic.otf);
}

/* NAV STYLING */

nav {
    padding: 0 117px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    width: 715px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: Helvetica;
    margin-top: 28px;
    color: #46447e;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.nav-right {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-image {
    height: 75px;
    width: 279px;
}

/* FOOTER STYLING */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

footer p {
    font-size: 20px;
    font-family: Helvetica;
    color: #46447e;
    margin: 0;
}

/* BROWSE BASIC STYLING */
.allAlbums{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.allAlbums .album{
    width: 30%;
}
.allAlbums .album img{
    width: 100%;
    border-radius: 15px;
}

/* HOME BASIC STYLING */
.home-banner {

}