/* FONTS */

@font-face {
    font-family:Helvetica;
    src: url(./fonts/helvetica.ttf);
}

@font-face {
    font-family:HelveticaOblique;
    src: url(./fonts/helvetica-oblique.ttf);
}

@font-face {
    font-family: HeyComic;
    src: url(./fonts/HeyComic.otf);
}

/* NAV STYLING */

nav {
    padding: 38px 117px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    width: 715px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: Helvetica;
    margin-top: 28px;
    color: #46447e;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.nav-right {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-image {
    height: 75px;
    width: 279px;
}

/* FOOTER STYLING */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

footer p {
    font-size: 20px;
    font-family: Helvetica;
    color: #46447e;
    margin: 0;
}

/* BROWSE BASIC STYLING */
.allAlbums{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.allAlbums .album{
    width: 30%;
}
.allAlbums .album img{
    width: 100%;
    border-radius: 15px;
}

/* CONTENT BASIC STYLING */
body {
    background-color: #f3f1ee;
}

.content {
    margin: 0 auto;
    width: 80%;
    background-color: #FFFFFF;
}


/* HOME BASIC STYLING */
.home-banner {
    min-height: 276px;
    background-image: linear-gradient(to bottom, rgba(70,68,126,50%), rgba(255,255,255,1)),
            url("../images/local-record-store.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.home-banner h2 {
    padding-top: 30px;
    font-family: heycomic;
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.home-banner p {
    margin: 16px 131px 38px 131px;
    font-family: "Helvetica";
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 3px black;
}

.view-button {
    height: 52px;
    width: 225px;
    background-color: #46447e;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.view-button a {
    font-family: "Helvetica";
    color: #FFFFFF;
    font-size: 25px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.home-featured {
    margin-top: 55px;
}

.home-featured .featured-title h2 {
    font-family: heycomic;
    color: #46447e;
    font-size: 30px;
    text-align: center;
}

.home-featured .featured-title p {
    font-family: HelveticaOblique;
    color: #46447e;
    font-size: 18px;
    margin-top: -25px;
    text-align: center;
}

.home-featured .featured-albums-container {
    width: 976px;
    min-height: 324px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-featured .featured-album-wrapper {
    width: 321px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-featured .featured-album-bmth {
    height: 284px;
    width: 284px;
    border-radius: 12px;
    background-image: url("../images/bmth-album.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-featured .featured-album-lj {
    height: 284px;
    width: 284px;
    border-radius: 12px;
    background-image: url("../images/longjohns-album.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-featured .featured-album-crumb {
    height: 284px;
    width: 284px;
    border-radius: 12px;
    background-image: url("../images/crumb-album.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-featured .featured-album-title p {
    font-family: HelveticaOblique;
    font-size: 15px;
    color: #46447e;
}

.reviews-container {
    min-height: 356px;
    width: 958px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.reviews-container h2 {
    font-family: heycomic;
    color: #46447e;
    font-size: 30px;
    text-align: center;
}

.reviews-container .review {
    border-style: solid;
    border-color: #F3F1EE;
    border-width: 2px;
    position: relative;
    margin-top: 25px;
}

.reviews-container .review .review-text {
    font-family: HelveticaOblique;
    font-size: 15px;
    color: #46447e;
    padding: 5px;
}

.reviews-container .review .review-username {
    font-family: Helvetica;
    font-size: 20px;
    color: #46447e;
    position: absolute;
    bottom: -20px;
    right: 5px;
}